.container {
  display: flex;
  width: 1170px;
  height: 645px;
  column-gap: 27px;
}

.left {
  width: 343px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
  background-image: url("../assets/image/newWeatherImage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.right {
  width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.weekly {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  height:204px
}
.data {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}
